<div class="container py-5">
  <div class="text-center">
    <h2>Email</h2>
  </div>
  <form action="" method="">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <input class="form-control" type='text' name='name' placeholder='Name'/>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <input class="form-control" type='text' name='email' placeholder='Email'/>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <textarea class="form-control" name='message' rows="3" placeholder='Message'></textarea>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button class="btn" type="submit">Send</button>
    </div>
  </form>
</div>
