<div id="fb-root"></div>
<script type="text/javascript" src="/js/fbpage.js"></script>

<div class="fb-page"
data-href="https://www.facebook.com/gphindutemple/"
data-tabs="timeline"
data-width="250"
data-small-header="false"
data-adapt-container-width="true"
data-hide-cover="false"
data-show-facepile="true">
  <blockquote cite="https://www.facebook.com/gphindutemple/" class="fb-xfbml-parse-ignore">
    <a href="https://www.facebook.com/gphindutemple/">Grande Prairie Hindu Association</a>
  </blockquote>
</div>
