<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<footer class="footer">
  <div class="container py-3">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
        <h3><strong>Grande Prairie Hindu Association</strong></h3>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h3><strong>Contact</strong></h3>
        <p>canadianhinduculturalcentre@
          gmail.com</p>
        <p>5202-5232 Township Rd 712, Bezanson, AB T0H 0G0</p>
        <p>Mon-Sat 6:30-7:30PM,<br />
          Sun 11AM-1PM</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h3><strong>Other</strong></h3>
        <p><a href="/about">About</a></p>
        <p><a href="/membership">Membership</a></p>
        <p><a href="/donations">Donations</a></p>
        <p><a href="/contact">Contact</a></p>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h3><strong>Social Media</strong></h3>
        <ul class="social-icons">
          <li>
            <a href="https://www.facebook.com/gphindutemple/" class="social-icon">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
