<div class="banner py-6">
  <div class="container text-white">
    <div class="text-center">
      <h1 id="header-text" class="display-4">
        <strong>The Grande Prairie Hindu Association</strong>
      </h1>
    </div>
  </div>
</div>
