<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="/images/icon.jpg" width="30" height="30">
    GPHA
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav nav-fill">
      <li <% if (pageName === 'index') { %> class="active" <% } %>>
        <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li <% if (pageName === 'about') { %> class="active" <% } %>>
        <a class="nav-item nav-link" href="/about">About</a>
      </li>
      <li <% if (pageName === 'posts') { %> class="active" <% } %>>
        <a class="nav-item nav-link" href="/posts">Posts</a>
      </li>
      <li <% if (pageName === 'membership') { %> class="active" <% } %>>
        <a class="nav-item nav-link" href="/membership">Membership</a>
      </li>
      <li <% if (pageName === 'photos') { %> class="active" <% } %>>
        <a class="nav-item nav-link" href="/photos">Photos</a>
      </li>
      <li <% if (pageName === 'calendar') { %> class="active" <% } %>>
        <a class="nav-item nav-link" href="/calendar">Calendar</a>
      </li>
      <li <% if (pageName === 'prayers') { %> class="active" <% } %>>
        <a class="nav-item nav-link" href="/prayers">Prayers</a>
      </li>
      <li <% if (pageName === 'community') { %> class="active" <% } %>>
        <a class="nav-item nav-link" href="/community">Community</a>
      </li>
      <li <% if (pageName === 'donations') { %> class="active" <% } %>>
        <a class="nav-item nav-link" href="/donations">Donations</a>
      </li>
      <li <% if (pageName === 'contact') { %> class="active" <% } %>>
        <a class="nav-item nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
