<div class="container py-5">
  <div class="text-center">
    <h2>Hours</h2>
  </div>
  <div class="mx-auto time-container">
    <table class="table table-hover">
      <tr>
        <th scope="col">Day</th>
        <th scope="col">Time</th>
      </tr>
      <tr>
        <td>Monday to Saturday</td>
        <td>6:30 - 7:30PM</td>
      </tr>
      <tr>
        <td>Sunday</td>
        <td>11AM - 1PM</td>
      </tr>
    </table>
  </div>
</div>
