<div class="container py-5">
  <p class="text-center">This page is still in development, and will be updated in the future.<br />
    Till then, please email us at canadianhinduculturalcentre@gmail.com with any questions!
  </p>
</div>
