<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/navbar %>
    <% include partials/header %>
    <div class="container py-3">
      <div class="text-center">
        <p>The Hindu community of Grande Prairie had, for several years, been
          travelling 450 kilometers away to Edmonton to visit its temple. Though
          a rewarding journey, the time made such a commitment quite difficult,
          not withstanding icy winter roads. Such problems created a spritiual
          void, lasting until the summer of 2009, when this project was started.</p>
        <p>The Grande Prairie Hindu Association is a non-profit, community based
          organization, dedicated to the preservation of a Hindu temple in Grande
          Prairie to promote and adopt our religion and culture to serve
          innumerable generations to come. Upon its' completion in 2013, the
          temple became the northernmost of its kind in Canada. </p>
        <p>As a result of philanthropy a group of seven joined together to donate
          a piece of land just east of Grande Prairie to be used as a site for a
          future Hindu temple. A beginning was made and the site was rezoned from
          residential to commercial.</p>
      </div>
    </div>
    <% include partials/footer %>
  </body>
</html>
