<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/navbar %>
    <% include partials/header %>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-8">
            <% include partials/email %>
          </div>
          <div class="col-12 col-md-4">
            <% include partials/time %>
          </div>
        </div>
        <div class="row">
          <% include partials/map %>
        </div>
      </div>
    </div>
    <% include partials/footer %>
  </body>
</html>
