<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/navbar %>
    <% include partials/header %>
    <% include partials/gita %>
    <div class="content">
      <% include partials/time %>
    </div>
    <% include partials/map %>      
    <% include partials/footer %>
  </body>
</html>
