<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/navbar %>
    <% include partials/banner %>
    <div class='container'>
      <% include partials/gita %>
    </div>
    <% include partials/footer %>
  </body>
</html>
