<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/navbar %>
    <div class="content">
      <div class="container pt-5">
        <center>
          <% include partials/fb-feed %>
        </center>
      </div>      
    </div>
    <% include partials/footer %>
  </body>
</html>
